:root {
    --colorprimary: black;
    --colorsecondary: white;
    --coloraccent: #940000;
    --ff: "DM Sans", sans-serif;
    --h1: bold max(36px, 4vw) / max(48px, 5vw) var(--ff);
    /* ^ is how you do dynamically resizing headings */
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadowdark: #00000030 0px 5px 10px 5px;
}

body {
    font: var(--p);
    background-color: var(--colorsecondary);
    color: var(--colorprimary);
    text-align: center;
    margin: auto;
}

.hero {
    margin-top: 0px;
}

html {
    scroll-snap-type: y mandatory;
}

.section {
    margin: 0px auto;
    max-width: 1080px;
    height: 50vh;
    scroll-snap-align: start;
}

.dark-mode {
    --colorprimary: white;
    --colorsecondary: black;
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 31px;
    overflow: hidden;
}

/* Hides the checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Full shape */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px var(--colorprimary);
    border-radius: 30px;
}

/* Circle button */
.toggle-button {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--colorprimary);
    transition: 0.4s ease-in-out;
}

/* Animation */
input:checked+.toggle .toggle-button {
    transform: translateX(30px);
}

/* Moon */
.toggle-button:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    /* todo make my own images instead */
    background-image: url("https://github.com/iamsajidcom/CT500/assets/130640271/4df5ffb5-6569-4ea5-b710-a3cbbc3ef6d1");
    left: -23px;
    bottom: 6px;
    transition: 0.4s ease-in-out;
}

/* Sun */
.toggle-button:after {
    position: absolute;
    content: "";
    /* todo make my own images instead */
    background-image: url("https://github.com/iamsajidcom/CT500/assets/130640271/44310954-3ea1-4c64-a033-0babdd8e8bba");
    right: -25px;
    top: 5px;
    height: 20px;
    width: 20px;
    transition: 0.4s ease-in-out;
}

h1 {
    font: var(--h1);
    margin-top: 8px;
}

h2 {
    font: var(--h2);
    margin-top: 8px;
}

.col {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.col>* {
    flex: 1;
    min-width: 320px;
}

a {
    margin-top: 20px;
    text-decoration: none;
}

.price-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.price-cards>* {
    flex: 1;
    min-width: 200px;
}

.price-card {
    background-color: var(--colorsecondary);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 20px 28px 40px 28px;
}

.dark-shadow {
    box-shadow: var(--shadowdark);
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 20px;
}

svg {
    fill: var(--colorprimary);
    width: 20px;
}

svg:hover {
    fill: var(--coloraccent);
}